{% extends "base.html" %}
{% block content %}
    <script src="{{ url_for('static', filename='js/plotly.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <h1>{{ _('system') }}</h1>
    <hr>
    <p>バージョン：V.0.0.0</p>
    <hr>
    <h2>セッションロックと画面マスク</h2>
    <p>30分間、画面遷移やボタン操作がない場合に自動的にセッションをロックします。<br>
        復帰するには、パスワードを入力してください。<br>
        5分間操作がない場合に画面をマスクします。<br>
        復帰するには、何らかの操作を行ってください。<br>
        画面マスクは、セッションロックとは異なり、パスワード入力は不要です。<br>
    <hr>
    <h2>パスワードエラーによるアカウントロック</h2>
    <p>連続して3回パスワード入力に失敗した場合、アカウントがロックされます。<br>
        10分間はログインできません。10分後に再度ログインを試みてください。<br>
    </p>
    <hr>
    <h2>グラフ操作方法</h2>
    <p>各ページに表示されるグラフは、操作ガイドに従って操作できます。<br>
        サンプルグラフを使って操作方法を把握した上で、実際のグラフをご利用ください。<br>
        グラフの操作方法は、グラフ上の「🧭 操作ガイド」を参照してください。<br>
        <b>注意：</b>操作ガイドはサンプルグラフにのみ表示されます。<br>
    {{ graph|safe }}
    
{% endblock %}
